---
import "@fontsource-variable/rubik";
import "@fontsource/courier-prime";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>YWC20 Interview candidates</title>
		<meta
			name="description"
			content="YWC20 Interview homework, part of the YWC20 interview process"
		/>
		<script>
			document.documentElement.classList.toggle(
				"dark",
				localStorage.theme === "dark" ||
					(!("theme" in localStorage) &&
						window.matchMedia("(prefers-color-scheme: dark)").matches),
			);
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
